<%- include("partials/header") %>

<section class="content">
  <h2>Contact Me</h2>
  <form action="#" method="post" class="contact-form">
    <input type="text" placeholder="Your Name" required>
    <input type="email" placeholder="Your Email" required>
    <textarea placeholder="Your Message"></textarea>
    <button type="submit" class="btn">Send Message</button>
  </form>
</section>
<section class="content">
            <ul class="footer-links">
                <li>
                    <img src="/img/fb.jpg" alt="Image" class="hover-effect" />
                    <h3>Facebook</h3>
                </li>
                <li>
                    <img src="/img/disc.jpg" alt="Image" class="hover-effect" />
                    <h3>Instagram</h3>
                </li>
                <li>
                    <img src="/img/ig.jpg" alt="Image" class="hover-effect" />
                    <h3>Discord</h3>
                </li>
            </ul>
</section>
<%- include("partials/footer") %>
