<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | My Portfolio</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<section class="content error-page">
  <h2>Oops! Page not found!</h2>
  <p>r u lost bbgirl?!</p>
  <a href="/" class="btn">Back to Home</a>
</section>

<%- include("partials/footer") %>
