<%- include("partials/header") %>

<section class="hero">
  <img src="/img/profile.jpg" alt="Alvin's Profile Picture" class="profile-picture">
  <h2>Hi, I'm Alvin </h2>
  <p>Full Stack Developer</p>
  <a href="/projects" class="btn">View My Work</a>
</section>

<section class="slideshow">
  <div class="slides fade">
    <img src="/img/slide1.png" alt="Project 1">
    <div class="caption">This is me</div>
  </div>
  <div class="slides fade">
    <img src="/img/proj4.jpg" alt="Project 2">
    <div class="caption">Github Clone</div>
  </div>
  <div class="slides fade">
    <img src="/img/proj1.jpg" alt="Project 3">
    <div class="caption">Portfolio</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</section>

<script src="/slideshow.js"></script>

<%- include("partials/footer") %>
