<%- include("partials/header") %>

<section class="content">
  <h2>Projects</h2>
  <div class="projects-grid">
    <div class="card">
          <h3>Portfolio Website</h3>
          <img src="/img/proj1.jpg" alt="Project 2">
          
          <h3>Student Management Web App</h3>
          <img src="/img/proj2.jpg" alt="Project 2">
          
          <h3>User Management System</h3>
          <img src="/img/proj3.jpg" alt="Project 2">
          
          <h3>Github Clone</h3>
          <img src="/img/proj4.jpg" alt="Project 2">
          
          <h3>Task Manager</h3>
          <img src="/img/proj5.jpg" alt="Project 2">
          
          <h3>Power Rangers Website</h3>
          <img src="/img/proj6.jpg" alt="Project 2">
          
          <h3>Dark Auction Website</h3>
          <img src="/img/proj.jpg" alt="Project 2">
          
          
          
    </div>
  </div>
</section>

<%- include("partials/footer") %>
